<!-- shop/templates/shop/catalog.html -->

{% extends "app/base.html" %}

{% block title %}Каталог{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Каталог Товаров</h2>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p class="card-text"><strong>Цена: </strong>{{ product.price }} €</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'app:product_detail' product.pk %}" class="btn btn-primary btn-sm">Подробнее</a>
                        <form method="post" action="{% url 'app:add_to_cart' product.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success btn-sm">Добавить в Корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center">В данный момент нет доступных товаров.</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
