{% extends 'app/base.html' %}

{% block title %}
Успешное оформление заказа
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="text-success">Ваш заказ успешно оформлен!</h1>
    <p class="mt-4">Спасибо, что выбрали Flower Delivery! Мы свяжемся с вами в ближайшее время для подтверждения заказа.</p>
    <p>Если у вас возникли вопросы, свяжитесь с нами по телефону <strong>+7 (123) 456-78-90</strong> или отправьте письмо на <strong>support@flowerdelivery.com</strong>.</p>
    <a href="/" class="btn btn-primary mt-4">Вернуться на главную страницу</a>
</div>
{% endblock %}
