{% extends 'app/base.html' %}

{% block title %}
Восстановление пароля
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Восстановление пароля</h1>
    <p class="text-center mt-3">Введите адрес электронной почты, связанный с вашим аккаунтом. Мы отправим вам инструкции для восстановления пароля.</p>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Электронная почта</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Введите вашу почту" required>
                </div>
                <button type="submit" class="btn btn-primary mt-4 w-100">Отправить инструкции</button>
            </form>
            <p class="text-center mt-3">
                <a href="{% url 'shop:login' %}">Вернуться к входу</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
